<h1>Welcome to RubyTrist</h1>


<% unless session[:login_session] %>
  <form action="send_login_email" method="POST">
     <input type="text" name="email" value="" placeholder="me@example.com">
     <input type="submit" name="Get an email key">
  </form>
  <p>
    If you are in development, look at your server log for the text of the email and copy the url making sure to add your port
  </p>
<% end %> 
