<h1>Listing postlets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @postlets.each do |postlet| %>
  <tr>
    <td><%= link_to 'Show', postlet %></td>
    <td><%= link_to 'Edit', edit_postlet_path(postlet) %></td>
    <td><%= link_to 'Destroy', postlet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Postlet', new_postlet_path %>
